* {
    font-family: Poppins !important;
}

.imgLoginRegistro {
    width: 160px;
    height: 150px;
    margin-top: 30px;
}

.centrado {
    margin-left: auto;
    margin-right: auto;
}

.logoEP {
    width: 50px !important;
}

.logoFooter {
    width: 125px;
}

.logoEPGif {
    width: 200px !important;
}

.noContent li:first-child:after {
    content: none !important;
}

.listaInline li {
    display: inline !important;
}

.tamanyoColor {
    width: 50px !important;
    height: 50px !important;
}

.enlaceMenu:hover {
    color: white !important;
    text-decoration: underline !important;
}

.tituloBlanco {
    color: white !important;
}

.headerColor {
    background-color: #6ae !important;
    padding: 0px 0px !important;
}

.imgLogo {
    width: 450px !important;
    margin-bottom: 20px !important;
}

.tamanyoIconoUser {
    font-size: 25px !important;
    margin-left: 276px !important;
}

.iconoUserSesion {
    font-size: 25px !important;
    margin-left: 224px !important;
}

.noFlechaInput {
    background: none !important;
}

.botonEP {
    background-color: #6ae !important;
    color: white !important;
    border-color: #6ae !important;
}

.botonGeneral {
    background-color: #6ae !important;
    color: white !important;
    border-color: #6ae !important;
}

.botonGeneral:hover {
    background-color: white !important;
    color: #6ae !important;
    border-color: #6ae !important;
}

.textoEP {
    color: #6ae !important;
}

.botonTexto:hover {
    color: #6ae !important;
}

.textoAcceso {
    color: white !important;
}

.fondoEP {
    background: #78bbb8 !important;
    border-color: #78bbb8 !important;
}

.fondoBotonEP {
    background-color: #55BBD9 !important;
}

.imagenIcono {
    width: 35px !important;
}

.margenBurguer {
    margin-top: 10px !important;
    margin-left: 20px !important;
}

.formularioResponsive {
    padding: 10px !important;
    background-color: #ffffff !important;
    border-radius: 50px !important;
}

.flotarDerecha {
    float: right !important;
}

.noSubrayadoEnlace {
    text-decoration: none;
}

.noSubrayadoEnlace:hover {
    text-decoration: none;
}

.enlaceContrasenya {
    text-decoration: none !important;
    color: #78bbb8;
}

.enlaceContrasenya:hover {
    text-decoration: none !important;
    color: #78bbb8;
}

.fuenteBoton {
    background: #78bbb8 !important;
    color: white !important;
    border-color: #78bbb8 !important;
}

.fuenteBoton:hover {
    color: #78bbb8 !important;
    background: white !important;
    border-color: #78bbb8 !important;
}

.titulo {
    margin-bottom: 25px;
}

.agotado {
    color: #D7DBDD;
}

.productoSeleccionado {
    font-weight: bold;
}

.posicionFlecha:before {
    padding-top: 7px !important;
}

.fondoFlecha {
    background-color: #6ae !important;
}

.fondoGuia {
    background-image: url('/static/images/bg/bgGuia.png');
}

.separador {
    border-top: 3px solid #78bbb8 !important;
}

.backgroundFooter {
    background-color: #78bbb8 !important;
}

.imagenFooter {
    width: 20;
    height: 25;
}

.imagenFooterTarjeta {
    width: 30;
    height: 20;
}

.colorPayment {
    color: #555555 !important;
}


/* ESTILOS DEL FORMULARIO DE REGISTRO */

.margenTop50 {
    margin-top: 50px !important;
}

.margen50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.noMargenTop {
    margin-top: 0px !important;
}

.alturaSelect {
    height: auto !important;
}

.margenBotonNext {
    margin-bottom: 15px !important;
}

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

.anchoRegistro {
    width: 100%;
}

.alturaInput {
    height: 22px !important;
}

.botonAtras {
    background-color: #f91942 !important;
    color: white !important;
    border-color: #f91942 !important;
}

.botonAtras:hover {
    background-color: white !important;
    color: #f91942 !important;
    border-color: #f91942 !important;
}

.botonAcceso {
    margin-top: 20px;
}

.noEnlace {
    text-decoration: none !important;
}

.iconoFooter {
    font-size: 30px !important;
}

.cabeceraPagina {
    height: 200px;
    padding-top: 40px;
}

.textoTarjetaGuia {
    padding-bottom: 15px !important;
}

.textoExplicativoReg {
    font-size: 13px !important;
}

.anchoContainer {
    max-width: 90% !important;
}

.pointer {
    cursor: pointer;
}

.noEnlace {
    text-decoration: none;
}

.noEnlace:hover {
    color: #ffffff;
}


/**** SELECCION TALLA ****/

.custom-checkbox-input {
    display: none;
}

.custom-checkbox-text {
    padding: 10px;
    background-color: #F2F2F2;
    color: #555;
    cursor: pointer;
    user-select: none;
}

.custom-checkbox-input:checked~.custom-checkbox-text {
    background-color: #6AE;
    color: white;
}


/***********************/


/* Mark input boxes that gets an error on validation: */

input.invalid {
    background-color: #ffdddd;
}


/* Hide all steps by default: */

.tab {
    display: none;
}

button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Poppins;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}


/* Make circles that indicate the steps of the form: */

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}


/* Mark the steps that are finished and valid: */

.step.finish {
    background-color: #4CAF50;
}


/**************************************/


/****** ESTILOS DE ANIMACIÓN DEL MENU ******/

.menu {
    display: flex;
    justify-content: center;
}

.menu a span:first-child {
    display: inline-block;
    padding: 10px;
}

.menu a {
    display: block;
    position: relative;
    overflow: hidden;
}

.menu a span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
}

.menu a span {
    transition: transform 0.2s ease-out;
}

.menu a:hover span:first-child {
    transform: translateY(100%);
}

.menu a:hover span:last-child {
    transform: none;
}

.menu[data-animation="to-top"] a span:last-child {
    transform: translateY(100%);
}

.menu[data-animation="to-top"] a:hover span:first-child {
    transform: translateY(-100%);
}


/**************/

.margenFormTop {
    margin-top: 1rem !important;
}

.noMargenTop {
    margin-top: 0px !important;
}

.inputTexto {
    padding: 22px .75rem !important;
}

@media screen and (max-width: 1200px) {
    .tamanyoIconoUser {
        margin-left: 10px !important;
    }
}

@media screen and (max-width: 767px) {
    .botonEP {
        float: right;
    }
}