{%load static%}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Erasmus Planet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesExt.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/plugin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/switcher/skin-blue.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/perfect-scrollbar.css' %}">

    <link rel="icon" type="image/png" href="{%static 'images/EPCircular.ico'%}" with="32" height="32">

</head>

  <body>

    <div class="preloader js-preloader">
        <img src="{% static 'images/EPCircular.gif'%}" alt="..." class="logoEPGif">
    </div>
    <!--Preloader ends-->
    <!--Page Wrapper starts-->
    <div class="page-wrapper fixed-footer">
        <!--header starts-->
        
        <header class="header transparent">
            
            <div class="site-navbar-wrap v1 headerColor">
                <div class="container">
                    <div class="site-navbar">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-md-3 col-6">
                                <span class="navbar-brand logoEP" ><img src="{%static 'images/logo/logoBlancoEP.png' %}" alt="logo" class="img-fluid"></span>
                            </div>
                          
                        </div>
                    </div>
                    <!--mobile-menu starts -->
                    <div class="site-mobile-menu">
                        <div class="site-mobile-menu-header">
                            <div class="site-mobile-menu-close  js-menu-toggle">
                                <span class="ion-ios-close-empty"></span>
                            </div>
                        </div>
                        <div class="site-mobile-menu-body"></div>
                    </div>
                    <!--mobile-menu ends-->
                </div>
            </div>
            <!--Main Menu ends-->              
        </header>

        <form method="POST">
            {% csrf_token %}
            <div class="card-body">
                <div class="form-group mb-8">
                    <div class="alert alert-custom alert-default" role="alert">
                        <div class="alert-icon"><i class="flaticon-warning text-primary"></i>
                        </div>
                        <div class="alert-text">
                            Recibiras un email en la direccion proporcionada.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label> <span class="text">Email:</span></label>
                    {{form.email}}
                    <span class="form-text text-muted">Asegurese de ser el propietario de esa
                        cuenta.</span>
                </div>

            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
            </div>
        </form>

    </div>

      <!--Footer Starts -->
      <div class="footer-wrapper no-pad-tb footer-fixed v1">
          <div class="overlay op-1"></div>
          <div class="footer-top-area section-padding">
              <div class="container">
                  <div class="row nav-folderized">
                      <div class="col-lg-3 col-md-12">
                          <div class="footer-logo">
                              <a href="#"> <img class="logoFooter" src="{%static 'images/logo/logoCompletoEP.png'%}" alt="logo"></a>
                              <div class="company-desc">
                                  <p>
                                      
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-12">
                          <div class="footer-content nav">
                              <h2 class="title">Helpful Links</h2>
                              <ul class="list">
                                  <li><a class="link-hov style2" href="#">Login</a></li>
                                  <li><a class="link-hov style2" href="#">My Account</a></li>
                                  <li><a class="link-hov style2" href="#">Privacy policy</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-12">
                          <div class="footer-content nav">
                              <h2 class="title">Category</h2>
                              <ul class="list">
                                  <li><a class="link-hov style2" href="#">Shop</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-12">
                          <div class="footer-content nav">
                              <h2 class="title">Contact us</h2>
                              <ul class="list footer-list">
                                
                                  <li>
                                      <div class="contact-info">
                                          <div class="icon">
                                              <i class="ion-email"></i>
                                          </div>
                                          <div class="text"><a href="#">info@erasmusplanet.com</a></div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="contact-info">
                                          <div class="icon">
                                              <i class="ion-ios-telephone"></i>
                                          </div>
                                          <div class="text">+34 697 96 26 71</div>
                                      </div>
                                  </li>
                              </ul>
                              <ul class="social-buttons style2">
                                  <li><a href="https://www.instagram.com/erasmus.planet/" target="_blank"><i class="ion-social-instagram"></i></a></li>
                                  
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="footer-bottom-area">
              <div class="container">
                  <div class="row">
                      <div class="col-md-8 offset-md-2 text-center">
                          <p><span id="fecha"></span>&nbsp;&copy; Erasmus Planet. Todos los derechos reservados.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div> 
      <!--Footer ends-->
     
      <!--<script src="https://kit.fontawesome.com/yourcode.js"></script>-->
      <!--plugin js-->
      <script type="text/javascript" src="{% static 'js/plugin.js'%}"></script>
      <!--google maps-->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_8C7p0Ws2gUu7wo0b6pK9Qu7LuzX2iWY&amp;libraries=places&amp;callback=initAutocomplete"></script>
      <!--Main js-->
      <script type="text/javascript" src="{% static 'js/main.js'%}"></script>
      <script type="text/javascript" src="{% static 'js/autocomplete.js'%}"></script>


  </body>

    
 </html>