{% extends 'index.html' %}

{% block content %}

{%load static%}

        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
                <!--begin::Profile Personal Information-->
                <div class="card card-custom">
                    <div class="card-header">
                        <h3 class="card-title">
                            Contraseña para el usuario {{user.username}}
                        </h3>
                        <div class="card-toolbar">
                            <div class="example-tools justify-content-center">
                                <span class="example-toggle" data-toggle="tooltip" title="View code"></span>
                                <span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
                            </div>
                        </div>
                    </div>
                    <!--begin::Form-->

                    <div class="card-body">
                        <div class="form-group mb-8">
                            <div class="alert alert-custom alert-default" role="alert">
                                <div class="alert-icon"><i class="flaticon-warning text-primary"></i></div>
                                <div class="alert-text">
                                    La contraseña ha sido actualizada correctamente.
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="card-footer">
                        <a href="{% url 'Login' %}"><button type="submit"
                                class="btn btn-primary mr-2">Login</button></a>

                    </div>

                    <!--end::Form-->
                </div>
                <!--end::Profile Personal Information-->
            </div>
            <!--end::Container-->
        </div>

        {% endblock %}