{% extends 'index.html' %}

{% block content %}

{%load static%}

        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
                <!--begin::Profile Personal Information-->
                <div class="card card-custom">
                    <div class="card-header">
                        <h3 class="card-title">
                            Confirmacion.
                        </h3>
                        <div class="card-toolbar">
                            <div class="example-tools justify-content-center">
                                <span class="example-toggle" data-toggle="tooltip" title="View code"></span>
                                <span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
                            </div>
                        </div>
                    </div>
                    <!--begin::Form-->
                
                        <div class="card-body">
                            <div class="form-group mb-8">
                                <div class="alert alert-custom alert-default" role="alert">
                                    <div class="alert-icon"><i class="flaticon-warning text-primary"></i></div>
                                    <div class="alert-text">
                                        Se ha enviado correctamente el correo. Revise su bandeja de entrada, incluida la bandeja de spam.
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    
                    
                    <!--end::Form-->
                </div>
                <!--end::Profile Personal Information-->
            </div>
            <!--end::Container-->
        </div>
    </div>

     	
<!--Page Wrapper ends-->
{% endblock %}