
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>How to consume RESTful APIs with Django</title>
  </head>
  <body>
    <div class="mydiv" id="mydiv" name='mydiv'>
      <button data-api={{nextPage}} class=" form-control update-api"> Next</button>
      <h2>Api Apartamentos</h2>

      <ul>
        {% for list in data %}
        <h5>Empieza apartamento</h5>
        <li> Id: {{list.id}} </li>
        <li> Rank: {{list.rank}} </li>
        <li> Publisehd: {{list.published}} </li>
        <li> KindLabel:{{list.kindLabel}} </li>
        <li> TypeLabel:{{list.typeLabel}} </li>
        <li> Rentype{{list.rentType}} </li>
        <li> Title:{{list.title}} </li>
        <li> <a href="{{list.originalLink}}">Link</a>  </li>
        <!-- <li> {{list.originalLink}} </li>
          <Span>Sublinks</Span>
          {% for link in localizedLinks %}
          <li> {{link}} </li>
          {% endfor %} -->
          <!-- <Span>Acaban Sublinks</Span> -->
        
        <h5>Acaba apartamento</h5>
        <br>

        {% endfor %}
      </ul>
    </div>
  </body>
  <script type="text/javascript" src="{% static 'js/api.js'%}"></script>
  <script type="text/javascript">

    var user = '{{request.user}}'

    function getToken(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getToken('csrftoken');
  </script>
</html>
