
{% extends 'index.html' %}

{% block content %}

{%load static%}
<!--Breadcrumb section starts-->
        <div class="breadcrumb-section" style="background-image: url(images/breadcrumb/breadcrumb-2.jpg)">
            <div class="overlay op-5"></div>
            <div class="container">
                <div class="row align-items-center  pad-top-80">
                    <div class="col-md-6 col-12">
                        <div class="breadcrumb-menu">
                            <h2 class="page-title">{{guide.city}}</h2>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!--Breadcrumb section ends-->
        <!--Add Listing starts-->
        <div class="list-details-section section-padding add_list pad-top-90">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs list-details-tab">
                            <li class="nav-item active">
                                <a data-toggle="tab" href="#informacionGeneral" class="noSubrayadoEnlace">Información general</a>
                                
                            </li>
                            <li class="nav-item ">
                                <a data-toggle="tab" href="#comoLlegar" class="noSubrayadoEnlace">Como llegar</a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="tab" href="#alojamiento" class="noSubrayadoEnlace">Alojamiento</a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="tab" href="#ocio" class="noSubrayadoEnlace">Ocio</a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="tab" href="#divisas" class="noSubrayadoEnlace">Divisas</a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="tab" href="#banco" class="noSubrayadoEnlace">Banco y SIM</a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="tab" href="#dondeComprar" class="noSubrayadoEnlace">Donde comprar</a>
                            </li>
                        </ul>
                        <div class="tab-content mar-tb-30 add_list_content">
                            <div class="tab-pane fade show active" id="informacionGeneral">
                                <h4>Información General</h4>   
                               
                                {{guide.informacion_general | safe}}
                            </div>
                            <div class="tab-pane fade" id="comoLlegar">
                                <h4>Como llegar</h4>
                                {{guide.como_llegar | safe}}
                            </div>
                            <div class="tab-pane fade" id="alojamiento">
                                <h4>Alojamiento</h4>
                                {{guide.alojamiento | safe}}
                            </div>
                            <div class="tab-pane fade" id="ocio">
                                <h4>Ocio</h4>
                                {{guide.ocio | safe}}
                            </div>
                            <div class="tab-pane fade" id="divisas">
                                <h4>Divisas</h4>
                                {{guide.divisas | safe}}
                            </div>
                            <div class="tab-pane fade" id="banco">
                                <h4>Banco</h4>
                                {{guide.banco_sim | safe}}
                            </div>
                            <div class="tab-pane fade" id="dondeComprar">
                                <h4>Donde Comprar</h4>
                                {{guide.donde_comprar | safe}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Add Listing ends-->
        <!-- Scroll to top starts-->
        <span class="scrolltotop"><i class="ion-arrow-up-c"></i></span>
        <!-- Scroll to top ends-->
    
     
{% endblock %}