{%load static%}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Erasmus Planet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesExt.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/plugin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/switcher/skin-blue.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/perfect-scrollbar.css' %}">

    <link rel="icon" type="image/png" href="{%static 'images/EPCircular.ico'%}" with="32" height="32">

</head>

  <body>
<!--
    <div class="preloader js-preloader">
        <img src="{% static 'images/EPCircular.gif'%}" alt="..." class="logoEPGif">
    </div>
    -->
    <!--Preloader ends-->
    <!--Page Wrapper starts-->
    <div class="page-wrapper fixed-footer">
        <!--header starts-->
        
        <header class="header transparent">
            
            <div class="site-navbar-wrap v1 headerColor">
                <div class="container">
                    <div class="site-navbar">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-md-3 col-6">
                                <a class="navbar-brand logoEP" href="{% url 'base' %}">
                                    <img src="{%static 'images/logo/logoBlancoEP.png' %}" alt="logo" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-xl-9 col-md-9 col-6">
                                <nav class="site-navigation float-left">
                                    <div class="container">
                                        <ul class="site-menu js-clone-nav d-none d-lg-block menu">
                                            <!--<li>
                                              <a href="https://www.students.rent/" target="_blank">
                                                  <span class="hide">
                                                      Alojamiento
                                                  </span>
                                                  <span>
                                                      <img src="{%static 'images/menu/homeIcon.png' %}" width="30" height="30" class="imgResponsive">
                                                  </span>
                                              </a>
                                            </li>

                                            <li>
                                              <a href="https://www.what2do.click/" target="_blank">
                                                  <span class="hide">
                                                      Ocio
                                                  </span>
                                                  <span>
                                                      <img src="{%static 'images/menu/ocio.png' %}" width="30" height="30" class="imgResponsive">
                                                  </span>
                                              </a>
                                            </li>-->
                                <!--           <li>
                                                    <a href="#">
                                                        <span class="hide">
                                                        Red Social
                                                        </span>
                                                        <span>
                                                            <img src="{%static 'images/menu/redSocial.png' %}" width="30" height="30" class="imgResponsive">
                                                        </span>
                                                    </a>
                                            </li>-->
                                            
                                        <!--    <li>
                                                    <a href="{% url 'Descuentos' %}">
                                                        <span class="hide">
                                                            Descuentos
                                                        </span>
                                                        <span>
                                                            <img src="{%static 'images/menu/discount.png' %}" width="30" height="30" class="imgResponsive">
                                                        </span>
                                                    </a>
                                            </li>-->
                                            <li>
                                              <a href="{% url 'Tienda' %}">
                                                  <span class="hide">
                                                      Shop
                                                  </span>
                                                  <span>
                                                      <img src="{%static 'images/menu/tienda.png' %}" width="30" height="30" class="imgResponsive">
                                                  </span>
                                              </a>
                                            </li>
                                            <li>
                                              <a href="{% url 'Contacto' %}">
                                                  <span class="hide">
                                                      Contact
                                                  </span>
                                                  <span>
                                                      <img src="{%static 'images/menu/contact.png' %}" width="30" height="30" class="imgResponsive">
                                                  </span>
                                              </a>
                                            </li>

                                            <li class="d-lg-none">
                                                
                                            </li>
                                        </ul>
                                    </div>
                                </nav>

                                <!-- ICONO MENÚ RESPONSIVE -->
                                <div class="d-lg-none sm-right">
                                    <a href="#" class="mobile-bar js-menu-toggle">
                                        <span class="ion-android-menu"></span>
                                    </a>
                                </div>
                                
                                {% if user.is_authenticated %}

                                <div class="add-list float-right">
                                    <a class="btn v3 botonAcceso fondoAzul" href="{% url 'UserProfile' %}">                                     
                                        <img src="{%static 'images/menu/user.png'%}" width="30" height="30" class="imgResponsive">                                                   
                                    </a>

                                    <a class="btn v3 fondoAzul botonAcceso" href="{% url 'logout' %}">
                                        <img src="{%static 'images/menu/logout.png'%}" width="30" height="30" class="imgResponsive">
                                    </a>
                                </div>

                                {%if user.is_superuser %}
                                <div class="add-list float-right">
                                    <a class="btn v3 fondoAzul botonAcceso" href="{% url 'Admin' %}">
                                        <img src="{%static 'images/menu/admin.png'%}" width="30" height="30" class="imgResponsive">
                                    </a>
                                </div>

                                {% endif %}
                                {%else%} 

                                <div class="add-list float-right">
                                    <a class="btn v3 fondoAzul botonAcceso" href="{% url 'UserRegistrationView' %}">
                                        <img src="{%static 'images/menu/userRegister.png'%}" width="30" height="30" class="imgResponsive">
                                    </a>
                                </div>

                                <div class="add-list float-right">
                                    <a class="btn v3 fondoAzul botonAcceso" href="{% url 'login' %}">
                                        <img src="{%static 'images/menu/login.png'%}" width="40" height="40" class="imgResponsive">
                                    </a>
                                </div>


                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--mobile-menu starts -->
                    <div class="site-mobile-menu">
                        <div class="site-mobile-menu-header">
                            <div class="site-mobile-menu-close  js-menu-toggle">
                                <span class="ion-ios-close-empty"></span>
                            </div>
                        </div>
                        <div class="site-mobile-menu-body"></div>
                    </div>
                    <!--mobile-menu ends-->
                </div>
            </div>
            <!--Main Menu ends-->              
        </header>

        
            {% block content %}
            {% endblock %}
             
    </div>

      <!--Footer Starts -->
      <div class="footer-wrapper no-pad-tb footer-fixed v1">
          <div class="overlay op-1"></div>
          <div class="footer-top-area section-padding">
              <div class="container">
                  <div class="row nav-folderized">
                      <div class="col-lg-3 col-md-12">
                          <div class="footer-logo">
                              <a href="#"> <img class="logoFooter" src="{%static 'images/logo/logoCompletoEP.png'%}" alt="logo"></a>
                              <div class="company-desc">
                                  <p>
                                      
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-12">
                          <div class="footer-content nav">
                              <h2 class="title">Helpful Links</h2>
                              <ul class="list">
                                  <li>
                                  <a class="link-hov style2 noEnlace" href="{% url 'login' %}">Login</a>
                                  </li>
                                  {% if user.is_authenticated %}
                                    <li>
                                    <a class="link-hov style2 noEnlace" href="{% url 'UserProfile' %}">My Account</a>
                                    </li>
                                  {% endif %}
                                  <li><a class="link-hov style2 noEnlace" href="{% url 'PrivacyPolicy' %}">Privacy policy</a></li>
                                   <li><a class="link-hov style2 noEnlace" href="{% url 'Faq' %}">FAQ</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-12">
                          <div class="footer-content nav">
                              <h2 class="title">Category</h2>
                              <ul class="list">
                                  <li>
                                  <a class="link-hov style2 noEnlace" href="{% url 'Tienda' %}">Shop</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-12">
                          <div class="footer-content nav">
                              <h2 class="title">Contact us</h2>
                              <ul class="list footer-list">
                                
                                  <li>
                                      <div class="contact-info">
                                          <div class="icon">
                                              <i class="ion-email"></i>
                                          </div>
                                          <div class="text"><a href="mailto:info@erasmusplanet.com" class="noEnlace">info@erasmusplanet.com</a></div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="contact-info">
                                          <div class="icon">
                                              <i class="ion-ios-telephone"></i>
                                          </div>
                                          <div class="text">
                                            <a href="tel:+34697962671" class="noEnlace">+34 697 96 26 71</a>
                                            </div>
                                      </div>
                                  </li>
                              </ul>
                              <ul class="social-buttons style2">
                                  <li><a href="https://www.instagram.com/erasmus.planet/" target="_blank"><i class="ion-social-instagram iconoFooter"></i></a></li>
                                  
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="footer-bottom-area">
              <div class="container">
                  <div class="row">
                      <div class="col-md-8 offset-md-2 text-center">
                          <p><span id="fecha"></span>&nbsp;&copy; Erasmus Planet. All rights reserved.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div> 
      <!--Footer ends-->
      <!-- VENTANA MODAL DE DESCUENTOS -->
<!--
      <div class="modal fade" id="coupon_wrap">
          <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">Get a Coupon</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ion-ios-close-empty"></i></span></button>
                  </div>
                  <div class="modal-body">
                      <div class="modal-coupon-code">
                          <div class="store-content">
                              <div class="text">
                                  Stores :
                                  <span> La Poma ,</span>
                                  <span>Gucci</span>
                              </div>
                              <div class="store-content">Cashback : <span>25% cashback </span></div>
                              <div class="store-content">Valid till : <span>25-5-2019 </span></div>
                              <div class="cashback-text">
                                  <p>Cashback will be added in your wallet in next 5 Minute of your purchase.</p>
                              </div>
                          </div>
                          <div class="coupon-code"
                                <h5>
                                    Coupon Code: <span class="coupon-code-wrapper">

                                        12345
                                    </span>
                                </h5>
                            </div>
                      </div>
                  </div>
                  <div class="coupon-bottom">
                      <div class="float-left"><a href="#" class="btn v1">Go to Deal</a></div>
                      <button type="button" class="btn v1 float-right" data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
      </div>
-->
      <!---->
      <!--<script src="https://kit.fontawesome.com/yourcode.js"></script>-->
      <!--plugin js-->
      <script type="text/javascript" src="{% static 'js/plugin.js'%}"></script>
      <!--google maps-->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_8C7p0Ws2gUu7wo0b6pK9Qu7LuzX2iWY&amp;libraries=places&amp;callback=initAutocomplete"></script>
      <!--Main js-->
      <script type="text/javascript" src="{% static 'js/main.js'%}"></script>
      <script type="text/javascript" src="{% static 'js/autocomplete.js'%}"></script>


  </body>

    
 </html>