{% extends 'index.html' %}

{% block content %}

{%load static%}
   
        <!--User Login section starts-->
        <div class="user-login-section section-padding bg-fixed">
            <div class="container margenTop50">
                <div class="row">
                    <div class="col-md-10 offset-md-1  text-center">
                        <div class="login-wrapper">
                        <div class="imgLogo centrado">
                            <img src="{% static 'images/logo/logoNoTexto.png' %}" class="imgLoginRegistro">
                        </div>
                        <div class="textoDegradado">
                            <h3 class="margen50 text-center">Log in</h3>
                        </div>
                            <div class="ui-dash tab-content">
                                <div class="tab-pane fade show active" id="login" role="tabpanel">
                                    <form id="login-form" action="#" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Nombre de usuario" value="" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Contraseña">
                                        </div>
                                        <div class="row mar-top-30">
                                            
                                            <div class="col-12 text-right">
                                                <div class="res-box sm-left">
                                                    <a href="{% url 'reset_password' %}" tabindex="5" class="forgot-password enlaceContrasenya">Have you forgotten the password?</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="res-box text-center mar-top-30">
                                            <button type="submit" class="btn v3 float-right fuenteBoton">Log in</button>                                        
                                        </div>

                                    </form> 
                                    <div class="res-box text-left">
                                        <a class="btn v8 fuenteBoton" href="{% url 'UserRegistrationView' %}">Register</a>
                                    </div>                              
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--User login section ends-->
        <!--Login section ends-->
        <!-- Scroll to top starts-->
        <span class="scrolltotop"><i class="ion-arrow-up-c"></i></span>
        <!-- Scroll to top ends-->
    
    <!--Footer Starts-->
{% endblock %}