{% extends 'index.html' %}

{% block content %}

{%load static%}


<!--User Login section starts-->
<div class="user-login-section section-padding bg-fixed">
    <div class="container margenTop50">
        <div class="row">
            <div class="col-md-10 offset-md-1  text-center">
                <div class="login-wrapper anchoRegistro">
                    <div class="imgLogo centrado">
                        <img src="{% static 'images/logo/logoNoTexto.png' %}" class="imgLoginRegistro">
                    </div>
                    <div class="textoDegradado">
                        <h3 class="margen50">Register</h3>
                    </div>
                    <div class="ui-dash tab-content">
                        <div class="tab-pane fade show active" id="login" role="tabpanel">
                                {% if error %}
                                    <div class="alert alert-danger mar-top-25">
                                        <div class="alert alert-custom alert-light-danger fade show mb-5" role="alert">
                                            <div class="alert-icon"><i class="flaticon-warning"></i></div>
                                            <div class="alert-text">No tienes la edad!</div>
                                            <div class="alert-close">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true"><i class="ki ki-close"></i></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                


                            <form id="login-form" action="#" method="post">

                                
                                {% csrf_token %}

                                

                                <!-- PASO 1 -->
                                <div class="tab">

                                    <div class="row mar-top-35">

                                        <div class="col-xl-6 col-sm-6 margenBotonNext">
                                            <label for="" class="label">Name</label>
                                            <div class="input-group input-group-lg input-group">
                                                {{ form.first_name }}
                                            </div>
                                            <span class="form-text text-muted">Please, enter your name</span>

                                        </div>

                                        <!--        <div class="col-xl-6 col-sm-6 margenBotonNext">
                                                <label for="" class="label">Name</label>
                                                <div class="control has-icons-left">                                                
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                                    </svg>                                                    
                                                    {{ form.first_name }}                                                    
                                                </div>
                                                <span class="form-text text-muted">Please, enter your name</span>
                                            </div>-->


                                        <div class="col-xl-6 col-sm-6 margenBotonNext">
                                            <label for="" class="label">Last name</label>
                                            <div class="input-group input-group-lg input-group">
                                                {{ form.last_name }}
                                            </div>
                                            <span class="form-text text-muted">Please, enter your last name</span>

                                        </div>

                                    </div>


                                    <div class="row mar-top-20">

                                        <div class="col-xl-6 col-sm-6 margenBotonNext">
                                            <label for="" class="label">Gender</label>
                                            <div class="input-group input-group-lg input-group">
                                                {{ form.gender }}
                                            </div>
                                            <span class="form-text text-muted">Please, select your gender</span>

                                        </div>

                                        <div class="col-xl-6 col-sm-6 margenBotonNext">
                                            <label for="" class="label">Date of birth</label>
                                            <div class="input-group input-group-lg input-group">
                                                {{ form.date }}
                                            </div>
                                            <span class="form-text text-muted">Please, enter your date of birth</span>

                                        </div>

                                    </div>


                                    <div class="col-xl-14 col-sm-14 margenBotonNext">
                                        <label for="" class="label">Country</label>
                                        <div class="input-group input-group-lg input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-geo-alt-fill"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                                                    </svg>
                                                </span>
                                            </div>
                                            {{ form.country }}
                                        </div>
                                        <span class="form-text text-muted">Please, select your country</span>

                                    </div>

                                    <div class="row mar-top-20">

                                        <div class="col-xl-6 col-sm-6 margenBotonNext">
                                            <label for="" class="label">Exchange start date</label>
                                            <div class="input-group input-group-lg input-group">
                                                {{ form.date_inicio }}
                                            </div>
                                            <span class="form-text text-muted">My exchange will be from...</span>

                                        </div>

                                        <div class="col-xl-6 col-sm-6 margenBotonNext">
                                            <label for="" class="label">Exchange end date</label>
                                            <div class="input-group input-group-lg input-group">
                                                {{ form.date_fin }}
                                            </div>
                                            <span class="form-text text-muted">Will be until...</span>

                                        </div>



                                    </div>
                                    

                                </div>

                                <!-- PASO 2 -->
                                <div class="tab">

                                    <div class="row mar-top-35">

                                        <div class="col-xl-6 col-sm-6 margenBotonNext">
                                            <label for="" class="label">Username</label>
                                            <div class="input-group input-group-lg input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-person-fill"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                                        </svg>
                                                    </span>
                                                </div>
                                                {{ form.username }}
                                            </div>
                                            <span class="form-text text-muted">Please, enter your username</span>

                                        </div>

                                        <div class="col-xl-6 col-sm-6 margenBotonNext">
                                            <label for="" class="label">Email</label>
                                            <div class="input-group input-group-lg input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-envelope-fill"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                                                        </svg>
                                                    </span>
                                                </div>
                                                {{ form.email }}
                                            </div>
                                            <span class="form-text text-muted">Please, enter your email address
                                                </address></span>

                                        </div>

                                    </div>

                                    <div class="row mar-top-20 col-xl-12">

                                        <div class="field col-xl-3 col-sm-12">
                                            <div class="control has-icons-left  margenBotonNext">
                                                <label>Prefix</label>
                                                <div class="input-group input-group-solid">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">+</span>
                                                        {{form.prefix}}
                                                    </div>

                                                </div>
                                                <span class="icon is-small is-left">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                            </div>
                                        </div>


                                        <div class="field col-xl-9 col-sm-12 control has-icons-left margenBotonNext">
                                            <label for="" class="label">Phone</label>
                                            <div class="input-group input-group-lg input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-telephone-fill"
                                                            viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd"
                                                                d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                                        </svg>
                                                    </span>
                                                </div>
                                                {{ form.phone }}
                                            </div>
                                            <span class="form-text text-muted">Please, enter your number phone</address>
                                                </span>

                                        </div>

                                    </div>

                                    <div class="row mar-top-35 mar-bot-35">

                                        <div class="col-xl-6 col-sm-12">
                                            <label class="label">Password</label>
                                            <div class="input-group input-group-lg input-group">
                                                {{ form.password1 }}
                                            </div>
                                            <span class="form-text text-muted">Please, enter a password</span>

                                        </div>



                                        <div class="col-xl-6 col-sm-12">
                                            <label class="label">Repeat password</label>
                                            <div class="input-group input-group-lg input-group">
                                                {{ form.password2 }}
                                            </div>
                                            <span class="form-text text-muted">Please, repeat your password</span>

                                        </div>

                                    </div>

                                </div>

                                <!-- PASO 3 -->
                                <div class="tab">
                                    <div class="row margenBotonNext">
                                        <!--
                                                        <div class="col-xl-12 col-sm-12">
                                                            <label for="" class="label">
                                                                {{form.studentType.label}}
                                                            </label>    
                                                            <div class="control has-icons-left">
                                                                {{ form.studentType }}
                                                            </div>
                                                        </div>
                                                        -->
                                    </div>

                                    <div class="row margenBotonNext mar-top-15">
                                        <div class="col-xl-12 col-sm-12">
                                            <label for="" class="label">
                                                <h5>Type of student</h5>
                                            </label>
                                            <div class="mar-bot-20">
                                                {{form.studentType}}
                                            </div>
                                            </label>
                                            <div class="row">

                                                <div class="col-xl-3 col-sm-12">
                                                    <button class="btn v3 botonAzul" type="button" id=1
                                                        data-toggle="collapse" data-target="#academic"
                                                        aria-expanded="true" aria-controls="collapseExample"
                                                        onclick="recogeID(this.id)">
                                                        Bachelor's degree
                                                    </button>
                                                </div>

                                                <div class="col-xl-3 col-sm-12">
                                                    <button class="btn v3 botonAzul" type="button" id=2
                                                        data-toggle="collapse" data-target="#aupair"
                                                        aria-expanded="true" aria-controls="collapseExample"
                                                        onclick="recogeID(this.id)">
                                                        Au pair
                                                    </button>
                                                </div>

                                                <div class="col-xl-3 col-sm-12">
                                                    <button class="btn v3 botonAzul" type="button" id=3
                                                        data-toggle="collapse" data-target="#master"
                                                        aria-expanded="true" aria-controls="collapseExample"
                                                        onclick="recogeID(this.id)">
                                                        Master student
                                                    </button>
                                                </div>

                                                <div class="col-xl-3 col-sm-12">
                                                    <button class="btn v3 botonAzul" type="button" id=4
                                                        data-toggle="collapse" data-target="#practices"
                                                        aria-expanded="true" aria-controls="collapseExample"
                                                        onclick="recogeID(this.id)">
                                                        Internship
                                                    </button>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="row margenBotonNext mar-top-35">


                                        <div class="col-xl-6 col-sm-6 margenBotonNext">
                                            <label for="" class="label">Hometown</label>
                                            <div class="input-group input-group-lg input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-house-door-fill"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
                                                        </svg>
                                                    </span>
                                                </div>
                                                {{ form.cityOrigin1 }}
                                            </div>
                                            <span class="form-text text-muted">Where are you studying?</address></span>

                                        </div>

                                        <div id="cityDestination1Div" class="col-xl-6 col-sm-6 margenBotonNext">
                                            <label for="" class="label">Destination city</label>
                                            <div class="input-group input-group-lg input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-geo" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd"
                                                                d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z" />
                                                        </svg>
                                                    </span>
                                                </div>
                                                {{ form.cityDestination1 }}
                                            </div>
                                            <span class="form-text text-muted">Where are you doing your exchange?
                                                </address></span>

                                        </div>

                                    </div>


                                    <label><input type="checkbox" onchange="showHide(this.checked)">Click here if you
                                        still don´t know your destination</label><br>


                                    <div class="row mar-top-25">

                                        <div id="cityDestination2Div" style="display:none;"
                                            class="col-xl-6 col-sm-6 margenBotonNext">
                                            <label for="" class="label">Second option of destination city</label>
                                            <div class="input-group input-group-lg input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-geo" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd"
                                                                d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z" />
                                                        </svg>
                                                    </span>
                                                </div>
                                                {{ form.cityDestination2 }}
                                            </div>
                                            <span class="form-text text-muted">Fill it if not sure about your
                                                destination yet</address></span>

                                        </div>

                                        <div id="cityDestination3Div" style="display:none;"
                                            class="col-xl-6 col-sm-6 margenBotonNext">
                                            <label for="" class="label">Third option of destination city</label>
                                            <div class="input-group input-group-lg input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-geo" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd"
                                                                d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z" />
                                                        </svg>
                                                    </span>
                                                </div>
                                                {{ form.cityDestination3 }}
                                            </div>
                                            <span class="form-text text-muted">Fill it if not sure about your
                                                destination yet</span>

                                        </div>

                                    </div>

                                    <div class="row mar-top-25">

                                        <div id="universityOriginDiv" class="col-xl-6 col-sm-6 margenBotonNext">
                                            <label for="" class="label">Hometown university</label>
                                            <div class="input-group input-group-lg input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-building"
                                                            viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd"
                                                                d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z" />
                                                            <path
                                                                d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z" />
                                                        </svg>
                                                    </span>
                                                </div>
                                                {{ form.universityOrigin }}
                                            </div>
                                            <span class="form-text text-muted">In which university are you
                                                studying?</span>

                                        </div>

                                        <div id="universityDestinationDiv" class="col-xl-6 col-sm-6 margenBotonNext">
                                            <label for="" class="label">Destination university</label>
                                            <div class="input-group input-group-lg input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-building"
                                                            viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd"
                                                                d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z" />
                                                            <path
                                                                d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z" />
                                                        </svg>
                                                    </span>
                                                </div>
                                                {{ form.universityDestination }}
                                            </div>
                                            <span class="form-text text-muted">In the exchange, in which university are
                                                you going to study?</span>

                                        </div>



                                    </div>

                                    <div class="row mar-top-25">

                                        <div id="courseDiv" class="col-xl-6 col-sm-6 margenBotonNext">
                                            <label for="" class="label">Year of the degree</label>
                                            <div class="input-group input-group-lg input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        Nº
                                                    </span>
                                                </div>
                                                {{ form.course }}
                                            </div>
                                            <span class="form-text text-muted">Please, select the year of your
                                                degree</span>

                                        </div>

                                        <div id="studiesDiv" class="col-xl-6 col-sm-6 margenBotonNext">
                                            <label for="" class="label">Degree</label>
                                            <div class="input-group input-group-lg input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-book-fill"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                                                        </svg>
                                                    </span>
                                                </div>
                                                {{ form.studies }}
                                            </div>
                                            <span class="form-text text-muted">Please, enter your degree</span>

                                        </div>

                                    </div>

                                    <div class="row mar-top-20 mar-bot-20">

                                        <div id="companyDiv" class="col-xl-6 col-sm-6 margenBotonNext">
                                            <label for="" class="label">Degree</label>
                                            <div class="input-group input-group-lg input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-briefcase-fill"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z" />
                                                            <path
                                                                d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z" />
                                                        </svg>
                                                    </span>
                                                </div>
                                                {{ form.company }}
                                            </div>
                                            <span class="form-text text-muted">Please, enter your company</span>

                                        </div>
                                    </div>


                                    <button type="submit" class="btn btn-secondary">Register</button>

                                </div>

                                <div class="mar-top-35" style="overflow:auto;">

                                    <button type="button" id="prevBtn" class="btn v3 float-left botonAtras"
                                        onclick="nextPrev(-1)">Return</button>
                                    <button type="button" id="nextBtn" class="btn v3 float-right botonAzul"
                                        onclick="nextPrev(1), Prefix()">Next</button>
                                </div>
                        </div>


                        <!-- Circles which indicates the steps of the form: -->
                        <div style="text-align:center;margin-top:40px;">
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                        </div>

                        </form>

                        <div class="mt-4">
                            <div class="mar-top-40 res-box text-left">Already have an account? <a
                                    class="btn v8 float-right botonAzul" href="{% url 'Login' %}" class="ml-2">Log
                                    in</a>
                            </div>
                        </div>
                    </div>

                    
                    {{form.errors}}
                    

                </div>
            </div>
        </div>
    </div>
</div>

<!--User login section ends-->
<!--Login section ends-->
<!-- Scroll to top starts-->
<span class="scrolltotop"><i class="ion-arrow-up-c"></i></span>
<!-- Scroll to top ends-->

<!--Page Wrapper ends-->


<!--Main js-->
<script src="{% static 'js/main.js' %}"></script>
<!-- Register js -->
<script src="{% static 'js/register.js' %}"></script>
<!-- Register js -->
<script src="{% static 'js/hiding_atributes.js' %}"></script>
<script src="{% static 'js/prefix.js' %}"></script>
<!--Scripts ends-->

{% endblock %}