{% extends 'index.html' %}

{% block content %}

{%load static%}

<!--Breadcrumb section starts-->
    <div class="breadcrumb-section" style="background-image: url(images/breadcrumb/breadcrumb-2.jpg)">
        <div class="overlay op-5"></div>
        <div class="container">
            <div class="row align-items-center  pad-top-80">
                <div class="col-md-6 col-12">
                    <div class="breadcrumb-menu">
                        <h2 class="page-title">Privacy policy</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--Breadcrumb section ends-->

<!--Blog post starts-->
    <div class="blog-area section-padding pad-bot-40 mar-top-20">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                </div>
            </div>
        </div>
    </div>
<!--Blog post ends-->

  <!-- Scroll to top starts-->
<span class="scrolltotop"><i class="ion-arrow-up-c"></i></span>
<!-- Scroll to top ends-->

{% endblock %}